<br>
<br>

<h1 style="text-align: center">Our Features</h1>
<br>
<div class="container-fluid">
<p>
	<strong>Many Tournaments to Choose from all over the North America: </strong>
		<p>All over Canada and the United States and also some of the best golfing locations in Mexico.</p>
		<p>For more information, check out <%= link_to t('Tournaments'), tournaments_path%> </p>
	<strong>Customizable Tournament Settings</strong>
	<p>Our tournaments are customizable. We allow you to organize your own tournaments for your friends and family.</p>
	<p>Some customizable features include:</p>
		<ul>
		<li>Tournament Start Time</li>
		<li>Lunch Time</li>
		<li>Dinner Time</li>
		<li>Beer Cart</li>
		</ul>
	<strong>Free Stuff from our Sponsors</strong>
	<p>Check out our <%= link_to t('Partners'), controller: "/partner", action: "index" %> Page to see our Great supporters </p>
	<strong>Creating Tee Sheets</strong>
	<p>You can create tee sheets that organize your guest lists by drag-and-drop to create a team. We allow that easy feature</p>
</p>
</div>