<br>
<br>

<h1 style="text-align: center"> Nos fonctionnalités</h1>
<br>
<div class="container-fluid">
<p>
	<strong>De nombreux tournois à choisir dans toute l'Amérique du Nord:</strong>
		<p>Partout au Canada et aux États-Unis et aussi quelques-uns des meilleurs endroits de golf au Mexique.</p>
		<p>Pour plus d'informations, consultez <%= link_to t('Tournaments'), tournaments_path%> </p>
	<strong>Paramètres de tournois personnalisables</strong>
	<p>Nos tournois sont personnalisables. Nous vous permettons d'organiser vos propres tournois pour vos amis et votre famille.</p>
	<p>Certaines fonctionnalités personnalisables incluent:</p>
		<ul>
		<li>Heure de début du tournoi</li>
		<li>Heure du déjeuner</li>
		<li>Temps de dîner</li>
		<li>Panier à bière</li>
		</ul>
	<strong>Des trucs gratuits de nos commanditaires</strong>
	<p>Consultez notre <%= link_to t('Partners'), controller: "/partner", action: "index" %> Page pour voir nos Grands supporters </p>
	<strong>Création de fiches techniques</strong>
	<p>Vous pouvez créer des feuilles de départ qui organisent vos listes d'invités par glisser-déplacer pour créer une équipe. Nous laissons cette fonctionnalité facile</p>
</p>
<br>
