<br>
<br>

<h1 style="text-align: center">Nuestras Características</h1>
<p>
	<strong>Muchos torneos para elegir en toda América del Norte: </strong>
		<p>All over Canadá y los Estados Unidos y también algunos de los mejores lugares de golf en México.</p>
		<p>Para obtener más información, consulte <%= link_to t('Tournaments'), tournaments_path%> </p>
	<strong>Configuración del torneo personalizable</strong>
	<p>Nuestros torneos son personalizables. Te permitimos organizar tus propios torneos para tus amigos y familiares.</p>
	<p>Algunas características personalizables incluyen:</p>
		<ul>
		<li>Hora de inicio del torneo</li>
		<li>Hora del almuerzo</li>
		<li>Hora de la cena</li>
		<li>Carrito de cerveza</li>
		</ul>
	<strong>Materiales gratuitos de nuestros patrocinadores</strong>
	<p>Echa un vistazo a nuestro <%= link_to t('Partners'), controller: "/partner", action: "index" %> Page to see our Great supporters </p>
	<strong>Creación de hojas de diseño</strong>
	<p>Puede crear hojas de salida que organizan sus listas de invitados mediante arrastrar y soltar para crear un equipo. Permitimos que la característica fácil</p>
</p>
