<br>
<br>
<h1 style="text-align: center">Our Story</h1>
<br>
<p>Welcome to CSC444 Golf, your number one source for all things Golf Tournaments, golf vacations, golf training. We’re dedicated to giving you the very best of the Golf Tournaments, with a focus on dependability, customer service and uniqueness.</p>
<p>
Founded in 2016 by Team 3, Golf Tournament Site has come a long way from its beginnings in a Room 221 of Galbrith Building at University of Toronto. When Team 3 first started out, their passion for helping other amateurs with playing golf opportunities, providing the best equipment for his clients drove him to do intense research, quit their day job, and develop this website, and gave them the impetus to turn hard work and inspiration into to a booming online service. We now serve customers all over the Canada, the US, and all the golf lovers worldwide, and are thrilled to be a part of the quirky, eco-friendly, fair trade wing of the sport recreation industry.
</p>
<p>
We hope you enjoy our products and service as much as we enjoy offering them to you. If you have any questions or comments, please don’t hesitate to <%= link_to 'Contact Us', controller: "/contact_us", action: "index" %>.
</p>
<p>
Sincerely,
Team 3, CEOs, Founders, Developers</p>
