<br>
<br>
<h1 style="text-align: center"><%=t :Our_Story %></h1>
<br>
<p>Welcome to CSC444 Golf, your number one source for all things Golf Tournaments, golf vacations, golf training. We’re dedicated to giving you the very best of the Golf Tournaments, with a focus on dependability, customer service and uniqueness.</p>
<p>
Fondé en 2016 par l'équipe 3, le site du tournoi de golf a parcouru un long chemin depuis ses débuts dans une salle 221 du bâtiment Galbrith à l'Université de Toronto. Lorsque l'équipe 3 a commencé, sa passion pour aider d'autres amateurs à jouer au golf, fournir le meilleur équipement pour ses clients l'a poussé à faire des recherches intenses, à quitter son emploi du jour et à développer ce site Web et leur a donné l'impulsion De travail et d'inspiration dans un service en ligne en plein essor. Nous servons maintenant des clients partout au Canada, aux États-Unis et tous les amateurs de golf du monde entier, et nous sommes ravis de faire partie de l'aile exquise, respectueuse de l'environnement et du commerce équitable de l'industrie des loisirs sportifs.
</p>
<p>
Nous espérons que vous apprécierez nos produits et services autant que nous aimons les offrir à vous. Si vous avez des questions ou des commentaires, n'hésitez pas à<%= link_to t('contact_us'), controller: "/contact_us", action: "index" %>.
</p>
<p>
Cordialement,
Équipe 3, PDG, Fondateurs, Développeurs</p>
