<br>
<br>
<h1 style="text-align: center"><%=t :Our_Story %></h1>
<br>
<div class="container-fluid">
<p>Bienvenido a CSC444 Golf, su fuente número uno para todos los torneos de golf de cosas, vacaciones de golf, entrenamiento de golf. Estamos dedicados a darle lo mejor de los torneos de golf, con un enfoque en la fiabilidad, servicio al cliente y singularidad.</p>
<p>
Fundado en 2016 por el Equipo 3, el Sitio de Torneos de Golf ha recorrido un largo camino desde sus inicios en una Sala 221 del Edificio Galbrith en la Universidad de Toronto. Cuando el equipo 3 comenzó por primera vez, su pasión por ayudar a otros aficionados a jugar golf oportunidades, proporcionando el mejor equipo para sus clientes lo llevó a hacer una investigación intensa, dejar su trabajo de día, y desarrollar este sitio web, y les dio el impulso de convertir duro El trabajo y la inspiración en un servicio en línea en auge. Ahora atendemos a clientes de todo el Canadá, los EE.UU., y todos los amantes del golf en todo el mundo, y estamos encantados de ser parte de la peculiar, respetuoso del medio ambiente, el comercio justo ala de la industria del deporte de recreación.
</p>
<p>
Esperamos que disfrute de nuestros productos y servicio tanto como nos gusta ofrecer a usted. Si tiene alguna pregunta o comentario, no dude en <%= link_to t('contact_us'), controller: "/contact_us", action: "index" %>.
</p>
<p>
Sinceramente,
Equipo 3, CEOs, Fundadores, Desarrolladores</p>
</div>