<br>
<br>
<h2><%=t :privacy_info %></h2>
<p>
Dernière mise à jour: 26 novembre 2016
<br>
<br>
CSC444 GOLF TOURNAMENT SITE ( «nous», «nous» ou «notre») exploite le <a href="https://test-rubyonrails-app.herokuapp.com/"> https://test-rubyonrails-app.herokuapp.com/</a> (le «Service»).
<br>
<br>
Cette page vous informe de nos politiques concernant la collecte, l'utilisation et la divulgation de renseignements personnels lorsque vous utilisez notre service.

Nous n'utiliserons ou ne partagerons vos informations avec personne, sauf comme décrit dans la présente politique de confidentialité. Cette politique de confidentialité a été créée sur la politique de confidentialité de TermsFeed.

Nous utilisons vos renseignements personnels pour fournir et améliorer le service. En utilisant le Service, vous acceptez la collecte et l'utilisation des informations conformément à cette politique. Sauf indication contraire dans la présente politique de confidentialité, les termes utilisés dans la présente politique de confidentialité ont la même signification que dans nos modalités et conditions, accessibles au <a href="https://test-rubyonrails-app.herokuapp.com/">https://test-rubyonrails-app.herokuapp.com/</a>
</p>
<strong> Collecte et utilisation d'informations </strong>
<p>
Tout en utilisant notre Service, nous pouvons vous demander de nous fournir certaines informations personnellement identifiables qui peuvent être utilisées pour vous contacter ou vous identifier. Les renseignements personnels identifiables peuvent inclure, sans toutefois s'y limiter, votre nom, numéro de téléphone, adresse postale, autres renseignements ( «renseignements personnels»).
</p>
<strong> Données du journal </strong>
<p>
Nous recueillons les informations que votre navigateur envoie chaque fois que vous visitez notre Service ( "Données de consignation"). Ces données de consignation peuvent inclure des informations telles que l'adresse Internet (IP) de votre ordinateur, le type de navigateur, la version du navigateur, les pages de notre service que vous visitez, l'heure et la date de votre visite, le temps passé sur ces pages et d'autres statistiques.
</p>
<strong>
Biscuits
</strong>
<p>
Les cookies sont des fichiers avec une petite quantité de données, qui peuvent inclure un identificateur unique anonyme. Les cookies sont envoyés à votre navigateur depuis un site Web et stockés sur le disque dur de votre ordinateur.

Nous utilisons des «cookies» pour recueillir des informations. Vous pouvez demander à votre navigateur de refuser tous les cookies ou d'indiquer quand un cookie est envoyé. Toutefois, si vous n'acceptez pas les cookies, vous ne pourrez peut-être pas utiliser certaines parties de notre Service.
</p> <strong>
Les fournisseurs de services
</strong> <p>
Nous pouvons employer des sociétés tierces et des particuliers pour faciliter notre Service, pour fournir le Service en notre nom, pour effectuer des services ou pour nous aider à analyser la façon dont notre Service est utilisé.

Ces tiers n'ont accès à vos renseignements personnels que pour effectuer ces tâches en notre nom et sont tenus de ne pas les divulguer ou de les utiliser à d'autres fins.
</p> <strong>
Sécurité </strong> <p>

La sécurité de vos informations personnelles est importante pour nous, mais n'oubliez pas qu'aucune méthode de transmission sur Internet, ou méthode de stockage électronique, n'est à 100% sécurisée. Bien que nous nous efforcions d'utiliser des moyens commercialement acceptables pour protéger vos renseignements personnels, nous ne pouvons pas garantir sa sécurité absolue.
</p> <strong>
Liens vers d'autres sites
</strong> <p>
Notre Service peut contenir des liens vers d'autres sites qui ne sont pas exploités par nous. Si vous cliquez sur un lien tiers, vous serez dirigé vers le site de ce tiers. Nous vous conseillons vivement d'examiner la politique de confidentialité de chaque site que vous visitez.

Nous n'avons aucun contrôle sur, et n'assumons aucune responsabilité pour le contenu, les politiques de confidentialité ou les pratiques des sites tiers ou des services.
</p> <strong>
Confidentialité des enfants
</strong> <p>
Notre service ne s'adresse à personne de moins de 13 ans ( «enfants»).

Nous ne recueillons pas sciemment des informations personnelles identifiables auprès d'enfants de moins de 13 ans. Si vous êtes un parent ou un tuteur et que vous savez que vos enfants nous ont fourni des renseignements personnels, veuillez nous contacter. Si nous découvrons qu'un enfant de moins de 13 ans nous a fourni des renseignements personnels, nous les supprimerons immédiatement de nos serveurs.
</p> <strong>
Modifications à cette politique de confidentialité
</strong> <p>
Nous pouvons mettre à jour notre politique de confidentialité de temps en temps. Nous vous informerons de tout changement en affichant la nouvelle politique de confidentialité sur cette page.

Il est conseillé d'examiner périodiquement cette politique de confidentialité pour toute modification. Les modifications apportées à cette politique de confidentialité sont efficaces lorsqu'elles sont affichées sur cette page.
</p><strong><%=t :Contact_Us %></strong><p>Si vous avez des questions sur ces conditions, veuillez <%= link_to t('contact_us'), controller: "/contact_us", action: "index" %>.</p>
<br>
<br>