<br>
<br>
<h2><%=t :privacy_info %></h2>
<p>
Última actualización: 26 de noviembre de 2016
<br>
<br>
CSC444 GOLF TOURNAMENT SITE ( "nosotros", "nosotros" o "nuestro") opera el <a href="https://test-rubyonrails-app.herokuapp.com/"> https://test-rubyonrails-app.herokuapp.com/</a> (el "Servicio").
<br>
<br>
Esta página le informa de nuestras políticas con respecto a la recopilación, uso y divulgación de Información Personal cuando usa nuestro Servicio.

No utilizaremos ni compartiremos su información con nadie, excepto como se describe en esta Política de privacidad. Esta Política de privacidad se creó en la Política de privacidad de TermsFeed.

Utilizamos su información personal para proporcionar y mejorar el servicio. Al utilizar el Servicio, usted acepta la recopilación y el uso de la información de acuerdo con esta política. A menos que se defina lo contrario en esta Política de Privacidad, los términos usados en esta Política de Privacidad tienen el mismo significado que en nuestros Términos y Condiciones, accesibles en<a href="https://test-rubyonrails-app.herokuapp.com/">https://test-rubyonrails-app.herokuapp.com/</a>
</p>
<strong> Recopilación y uso de información </strong>
<p>
Durante el uso de nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación personal que pueda utilizarse para contactarle o identificarle. La información personalmente identificable puede incluir, pero no está limitada a, su nombre, número de teléfono, dirección postal, otra información ( "Información Personal").
</p>
<strong> Datos de registro </strong>
<p>
Recopilamos información que envía su navegador cada vez que visita nuestro Servicio ( "Datos de Registro"). Estos datos de registro pueden incluir información como la dirección de IP de su computadora, el tipo de navegador, la versión del navegador, las páginas de nuestro servicio que visita, la hora y la fecha de su visita, el tiempo dedicado a esas páginas y otros estadística.
</p>
<strong>
Galletas
</strong>
<p>
Las cookies son archivos con una pequeña cantidad de datos, que pueden incluir un identificador único anónimo. Las cookies se envían a su navegador desde un sitio web y se almacenan en el disco duro de su computadora.

Utilizamos "cookies" para recopilar información. Puede indicar a su navegador que rechace todas las cookies o que indique cuándo se envía una cookie. Sin embargo, si no acepta cookies, es posible que no pueda utilizar algunas partes de nuestro Servicio.
</p> <strong>
Proveedores de servicio
</strong> <p>
Podemos contratar a terceras compañías e individuos para facilitar nuestro Servicio, para prestar el Servicio en nuestro nombre, para prestar servicios relacionados con el Servicio o para ayudarnos a analizar cómo se usa nuestro Servicio.

Estos terceros tienen acceso a su Información Personal únicamente para realizar estas tareas en nuestro nombre y están obligados a no divulgarlo o utilizarlo para ningún otro propósito.
</p> <strong>
Seguridad </strong> <p>

La seguridad de su información personal es importante para nosotros, pero recuerde que ningún método de transmisión a través de Internet, o método de almacenamiento electrónico es 100% seguro. Aunque nos esforzamos por utilizar medios comercialmente aceptables para proteger su información personal, no podemos garantizar su seguridad absoluta.
</p> <strong>
Enlaces a otros sitios
</strong> <p>
Nuestro Servicio puede contener enlaces a otros sitios que no son operados por nosotros. Si hace clic en un enlace de terceros, se le dirigirá al sitio de ese tercero. Le recomendamos que revise la Política de privacidad de cada sitio que visita.

No tenemos ningún control sobre, ni asumimos ninguna responsabilidad por el contenido, políticas de privacidad o prácticas de sitios o servicios de terceros.
</p> <strong>
Privacidad de los niños
</strong> <p>
Nuestro Servicio no se dirige a menores de 13 años ( "Niños").

No recopilamos a sabiendas información de identificación personal de niños menores de 13 años. Si usted es un padre o tutor y usted es consciente de que sus hijos nos han proporcionado información personal, por favor póngase en contacto con nosotros. Si descubrimos que un Menor de 13 años nos ha proporcionado Información Personal, eliminaremos dicha información de nuestros servidores inmediatamente.
</p> <strong>
Cambios en esta política de privacidad
</strong> <p>
Podemos actualizar nuestra Política de privacidad de vez en cuando. Le notificaremos de cualquier cambio publicando la nueva Política de privacidad en esta página.

Se recomienda revisar esta Política de privacidad periódicamente para cualquier cambio. Los cambios a esta Política de privacidad son efectivos cuando se publican en esta página.
</p><strong><%=t :Contact_Us %></strong><p>Si tiene alguna pregunta sobre estos Términos, por favor <%= link_to t('contact_us'), controller: "/contact_us", action: "index" %>.</p>
<br>
<br>