<br>
<br>
<div class="w3-container">
	<h1 style="text-align: center">Nuestros compañeros</h1>
	<br>
	<p>Damos las gracias a nuestros socios y patrocinadores por el éxito de nuestra empresa. Proporcionaron fondos, suministros y apoyo a nuestra causa. Estos son algunos de nuestros principales patrocinadores:</p>
	<br>
	<div class="row">

	<div class="w3-col m3 l4 w3-blue-grey w3-container" style="border-style: groove;  border-width: 5px;">
    	<div class="w3-center">
      		<h1>Ping</h1>
      		<img src="/images/ping.jpg" class="w3-margin w3-col m2 l3" alt="Ping" style="border-style: groove;  border-width: 5px; height: 140px">
      		<div class="w3-left-align w3-padding-xlarge">
        		<p>Ping ha sido nuestro patrocinador durante 2 meses, proporcionando equipos de golf para nuestros clientes.</p>
     		 </div>
     		</div>
    </div>
    	<div class="w3-col m3 l4 w3-blue-grey w3-container" style="border-style: groove;  border-width: 5px;">
    	<div class="w3-center">
      		<h1>Pepsi</h1>
      		<img src="/images/symbol-Pepsi.jpg" class="w3-margin w3-col m2 l3" alt="Pepsi" style="border-style: groove;  border-width: 5px; height: 140px">
      		<div class="w3-left-align w3-padding-xlarge">
        		<p>Pepsi ha sido nuestro patrocinador durante 1 mes, proporcionando bebidas a nuestros clientes.</p>
     		 </div>
     		</div>
    </div>
    	<div class="w3-col m3 l4 w3-blue-grey w3-container" style="border-style: groove;  border-width: 5px;">
    	<div class="w3-center">
      		<h1>KFC</h1>
      		<img src="/images/kfc.jpeg" class="w3-margin w3-col m2 l3" alt="KFC" style="border-style: groove;  border-width: 5px; height: 140px">
      		<div class="w3-left-align w3-padding-xlarge">
        		<p>Kentucky Fried Chicken ha sido nuestro patrocinador durante 2 meses, ofreciendo almuerzo y cena para nuestros clientes.</p>
     		 </div>
     		</div>
    </div>
  </div>
</div>