<br>
<br>
<div class="w3-container">
	<h1 style="text-align: center">Nos partenaires</h1>
	<br>
	<p>Nous remercions nos partenaires et commanditaires pour le succès de notre entreprise. Ils ont fourni du financement, des fournitures et du soutien à notre cause. Voici quelques-uns de nos principaux sponsors:</p>
	<br>
	<div class="row">

	<div class="w3-col m3 l4 w3-blue-grey w3-container" style="border-style: groove;  border-width: 5px;">
    	<div class="w3-center">
      		<h1>Ping</h1>
      		<img src="/images/ping.jpg" class="w3-margin w3-col m2 l3" alt="Ping" style="border-style: groove;  border-width: 5px; height: 140px">
      		<div class="w3-left-align w3-padding-xlarge">
        		<p>Ping a été notre sponsor pendant 2 mois, fournissant des équipements de golf pour nos clients.</p>
     		 </div>
     		</div>
    </div>
    	<div class="w3-col m3 l4 w3-blue-grey w3-container" style="border-style: groove;  border-width: 5px;">
    	<div class="w3-center">
      		<h1>Pepsi</h1>
      		<img src="/images/symbol-Pepsi.jpg" class="w3-margin w3-col m2 l3" alt="Pepsi" style="border-style: groove;  border-width: 5px; height: 140px">
      		<div class="w3-left-align w3-padding-xlarge">
        		<p>Pepsi est notre sponsor depuis 1 mois, fournissant des boissons pour nos clients.</p>
     		 </div>
     		</div>
    </div>
    	<div class="w3-col m3 l4 w3-blue-grey w3-container" style="border-style: groove;  border-width: 5px;">
    	<div class="w3-center">
      		<h1>KFC</h1>
      		<img src="/images/kfc.jpeg" class="w3-margin w3-col m2 l3" alt="KFC" style="border-style: groove;  border-width: 5px; height: 140px">
      		<div class="w3-left-align w3-padding-xlarge">
        		<p>Kentucky Fried Chicken a été notre sponsor pendant 2 mois, fournissant le déjeuner et le dîner pour nos clients.</p>
     		 </div>
     		</div>
    </div>
  </div>
</div>