tmp/*
*.log
development.sqlite3
test.sqlite3
*.rbc
capybara-*.html
.rspec
/log
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
.byebug_history
.idea/*