<h1>XXX Golf Tournaments</h1>
<br>

<p>
  <%=link_to 'View Tournaments', tournaments_path%>
<br>
<br>
  <%=link_to 'Register a Golf Course', new_golf_course_path%>
<br>
<p>
  <%=link_to 'Create a Tournament', new_tournament_path%>
<br>
<p>
  <!-- <%=link_to 'Purchase a Ticket', new_ticket_path%> -->
<br>

<div style="max-width:100%;  height: 20%">
	<img class="mySlides" src="images/default_image.jpg" style="width:100%">
	<img class="mySlides" src="images/download.jpeg" style="width:100%">
</div>
<script>
  var slideIndex = 0;
  carousel();
</script>