<%= render partial: "people/portal/profile_tabs", locals: {person: @person} %>

<h3>Payment Information</h3>

<%= render partial: 'credit_cards/credit_cards_table_display', locals: {person_id: @person.id} %>

<%= link_to 'Add a new card', new_credit_card_path%>