<p>
  <strong>Golf Course Name:</strong>
  <%= @golf_course.name %>
</p>
 
<p>
  <strong>Golf Course Address:</strong>
  <%= @golf_course.location %>
</p>

<%= link_to 'Home', controller: 'home_page' %>