<table>
  <tr>
    <th>Number</th>
    <th></th>
  </tr>

  <% credit_cards.each do |cc| %>

          <tr>
            <td><%= cc.number%></td>
            <td><%= link_to 'Use', paymentProcessing_path(@ticket, cc)%></td>
          </tr>
  <% end %>

</table>
