<ul class="nav nav-tabs">
	<li role="presentation" ><%=link_to 'Player', controller: "people", action: "user_tourney" %></li>
	<li role="presentation" ><%=link_to 'Organizer', controller: "people", action: "organized" %></li>
	<li role="presentation" ><%=link_to 'Sponsor', controller: "people", action: "sponsored" %></li>
</ul>