<html>
	<h1>Tournament Organizer Dashboard </h1>
	<%= render partial: "tournaments/tournament_info" %>
	
	<% if @organizer.adminrights & 1 != 0 %> <!check privileges to edit info>
		<%= link_to "Edit tournament info",edit_tournament_path(@tournament) %><br>
	<% end %>
	<% if @organizer.adminrights & 2 != 0 %> <!check privileges to manage tee sheets"
		<p>Manage tee sheets (coming soon)</p><br>
	<% end %>
</html>
