<% # variable declarations
  c_date = Time.now.to_date
%>

<html>
	<body>
	<br>
	<br>
		<%= link_to t("New"), new_tournament_path %>
	
		<section>
			<h1>
				Today's Tournaments
			</h1>
			<% if @tournaments %>
			<%= render partial: "tournaments/tournament_table", locals: {tournaments: @tournaments, include_cond: "days_away == 0 && (t.ispublic == true)"} %>
			<% else %>
				<p> No tournaments happening today! </p>
			<% end %>
		</section> 

		<section>
			<h1>
				Upcoming Tournaments
			</h1>			
			<%= render partial: "tournaments/tournament_table", locals: {tournaments: @tournaments, include_cond: "days_away > 0 && (t.ispublic == true)"} %>
		</section>	
	</body>
</html>
