<html>
	<head>
		<% c_date = Time.now.to_date %>
	</head>
	
	<body>
		<%= link_to 'New', new_tournament_path %>
	
		<section>
			<h1>
				Today's Tournaments
			</h1>
			<%= render partial: "tournaments/tournament_table", locals: {tournaments: @tournaments, include_cond: "days_away == 0 && (t.ispublic == true)"} %>
		</section> 

		<section>
			<h1>
				Upcoming Tournaments
			</h1>			
			<%= render partial: "tournaments/tournament_table", locals: {tournaments: @tournaments, include_cond: "days_away > 0 && (t.ispublic == true)"} %>
		</section>	
	</body>
</html>
