<html> 
	<h4><%= sponsor.name %></h4><%= image_tag sponsor.logo.url %>
	<p><strong>Website: </strong><%= sponsor.website %></p>
	<p><strong>Contact information: </strong><%= sponsor.contact_info %></p>
</html>