<b>Checked-in</b>
<br>
<% tickets = Ticket.where(tournament_id: id, checked_in: true)
   # if tickets.any?
  if true
%>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>

    <% list.each do |t| %>
        <tr>
          <th><%=  t.firstname %></th>
          <th><%=  t.lastname %></th>
        </tr>
    <% end %>
  </table>
<% else %>
    No checked-in attendees yet.
<% end %>

<br>
<br>

<b>To Be Checked-in</b> <br>
<% tickets = Ticket.where(tournament_id: id, checked_in: false)
    if tickets.any?%>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>

    <% tickets.each do |t| %>
        <tr>
          <th><%=  t.person.firstname %></th>
          <th><%=  t.person.lastname %></th>
        </tr>
    <% end %>
  </table>
<% else %>
    All attendees are checked-in.
<% end %>