<br>

<br>


Successfully checked-in to <%=@ticket.tournament.name%>
<p>
  <%=
    render partial: "people/display_person_info", locals: {person: @ticket.person}
  %>
  <br>
  <br>
  <%=
    setup_check_in
    render partial: "tickets/checked_in_table", locals: {id: @ticket.tournament.id, list1: @people1, list2: @people2}  %>

  %>
</p>