<%
  @ticket = Ticket.where(id: params[:id]).first
  unless @ticket
    render tournaments_path
  end

  cc = CreditCard.where(person_id: current_person.id)
  %>
<h1>Payment for tournament <%= @ticket.tournament.name %></h1>

<%=
  if cc.any?
    render partial: "credit_cards/credit_cards_table_pay", locals: {ticket: @ticket, credit_cards: cc}
  else %>
<i> No credit cards saved. </i>
<% end %>
<br>
<br>
<%= link_to "Pay with new credit card", new_credit_card_path(ticket_id: @ticket.id, direct_page: 1, return_page: 2) %>
<br>
<br>

<%= link_to 'Back', controller: 'home_page' %>
