<br>
<br>

<h1>Preguntas más frecuentes</h1>
<strong>Qué campos de golf se ofrecen?</strong>
<p>Tenemos muchos campos de golf en todo Canadá y en los EE.UU. Son algunos de los más populares en el mundo. Para obtener más información, consulte <%=link_to t('Tournaments'), tournaments_path%></p>
<strong>Cuántas personas por torneo?</strong>
<p>Cada torneo puede tener de 3 a 8 personas inscritas.</p>
<strongDónde están las promociones?</strong>
<p> Nuestras promociones aparecen en la página <a href="/"><%=t :home %></a>. Actualizamos nuestras promociones cada 2 meses.</p>
<strong>Con cuánta anticipación puede reservar?</strong>
<p>Puede reservar en cualquier momento.</p>
<strong>Cómo pagas?</strong>
<p>Aceptamos tarjetas de crédito o Paypal.</p>
<strong>Cuánto cuesta para un torneo?</strong>
<p>Puedes encontrar un torneo por menos de $ 29.95. Para más información, consulta cada torneo disponible en el<%=link_to t('Tournaments'), tournaments_path%></p>