<br>
<br>

<h1>Foire aux questions </h1>
<strong>Quels sont les terrains de golf proposés?</strong>
<p>Nous avons de nombreux terrains de golf partout au Canada et aux États-Unis. Ils sont parmi les plus populaires au monde. Pour plus d'informations, consultez <%=link_to t('Tournaments'), tournaments_path%></p>
<strong>Combien de personnes par tournoi?</strong>
<p>Chaque tournoi peut compter de 3 à 8 personnes.</p>
<strong>Où sont les promotions?</strong>
<p>Nos promotions sont répertoriées sur la page <a href="/"><%=t :home %></a>. Nous mettons à jour nos promotions tous les 2 mois. </p>
<strong> Combien de temps à l'avance pouvez-vous réserver?</strong>
<p>Vous pouvez réserver en tout temps.</p>
<strong>Comment payez-vous?</strong>
<p>Nous acceptons la carte de crédit ou Paypal.</p>
<strong>Combien cela coûte-t-il pour un tournoi?</strong>
<p>Vous pouvez trouver un tournoi pour moins de 29,95 $. Pour plus d'informations, consultez chaque tournoi disponible dans le<%=link_to t('Tournaments'), tournaments_path%></p>