<br>
<br>

<h1 style="text-align: center">Frequently Asked Questions</h1>
<br>
<div class="container-fluid">
	<strong>What Golf Courses are offered?</strong>
	<p>We have many golf courses all over Canada and in the U.S. They are some of the most popular in the world. For more information check out <%=link_to t('Tournaments'), tournaments_path%></p>
	<strong>How many people per tournament?</strong>
	<p>Each tournament can have from 3 to 8 people registered.</p>
	<strong>Where are the promotions?</strong>
	<p>Our promotions are listed on the <a href="/"><%=t :home %></a> page. We update our promotions every 2 months.</p>
	<strong>How far in advance can you book?</strong>
	<p>You can book anytime.</p>
	<strong>How do you pay?</strong>
	<p>We accept credit card or Paypal.</p>
	<strong>How much does it cost for a tournament?</strong>
	<p>You can find a tournament for more less than $29.95. For more information check out each available tournaments in the <%=link_to t('Tournaments'), tournaments_path%></p>
</div>