@import "bootstrap";

li#head{
     display:inline;
     float:right;
}

nav#foot{
	text-align:center;
	background-color: #f5f5f5;
	width: 100%;
	position: fixed;
 	bottom: 0;
}

li#footer{
     display: inline;
}

li a {
    display: inline-block;
    color: blue;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}