<%= render partial: "application/user_header" %>
<h1>Access Denied</h1>
<h2>Access to this page is denied due to invalid user credentials</h2>
<br>
<%= link_to 'Home', controller: 'home_page' %>
